ul {
	
    list-style-type: none;
    margin: 0;
    padding: 0;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
		
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}
.logo{
			padding: 0;
			margin: 0;
		  font-size: 2rem;
	    text-align: center;
      height:5vh;
      line-height:1vh;
	    color: #fcedd8;
	    background: #333;
	   	font-family: 'Niconne', cursive;
	    font-weight: 200;
      text-shadow: 1px 1px #c11a2b, 
                  2px 2px 0px  #052939, 
                  3px 3px 0px  #017e7f, 
                  4px 4px 0px  #46b59b, 
                  5px 5px 0px  #efa032, 
                  6px 6px 0px  #eb452b; 
    padding-left: 0;
		padding-top: 12px;
}
.logo:hover{
	 background-color: #333;
}
* {
   margin: 0;
   padding: 0;
	font-family: 'Montserrat', sans-serif;
		box-sizing: border-box;
}
.portfolio-wrap {
   max-width: 1120px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.portfolio-item {
   padding: 0px;
	 height: 100%;
}
.portfolio-item a {
   display: block;
   text-decoration: none;
   color: white;
}
.portfolio-item-wrap {
   position: relative;
   overflow: hidden;
   text-align: center;
   box-shadow: 0 0 5px rgba(0, 0, 0, .2);
   background: black;
   color: white;
}
.portfolio-item img {
   display: block;
   width: 100%;
   opacity: .75;
   transition: .5s ease-in-out;
}
.portfolio-item-inner {
   position: absolute;
   top: 45%;
   left: 7%;
   right: 7%;
   bottom: 45%;
   border: 1px solid white;
   border-width: 0 1px 1px;
   transition: .4s ease-in-out;
}
.portfolio-heading {
   overflow: hidden;
   transform: translateY(-50%);
}
.portfolio-heading h3 {
   font-weight: normal;
   display: table;
   margin: 0 auto;
   padding: 0;
   position: relative;
}
.portfolio-heading h3:before, .portfolio-heading h3:after {
   content: "";
   position: absolute;
   top: 50%;
   width: 50px;
   height: 1px;
   background: white;
}
.portfolio-heading h3:before {
   left: -50px;
}
.portfolio-heading h3:after {
   right: -50px;
}
.portfolio-item-inner ul {
   position: absolute;
   top: 50%;
   width: 100%;
   transform: translateY(-50%);
   padding: 0 20px;
   opacity: 0;
   list-style: none;
   transition: .4s ease-in-out;
}
.portfolio-item-inner li {
   position: relative;
   font-size: 12px;
   padding: 0;
   margin-bottom: 4px;
}
.portfolio-item-inner li:after {
   content: "";
   position: absolute;
   left: 50%;
   margin-left: -2px;
   bottom: -4px;
   width: 4px;
   height: 4px;
   border-radius: 50%;
   background: white;
   box-shadow: 10px 0 0 white, -10px 0 0 white;
}
.portfolio-item-inner li:last-child:after {
   content: none;
}
.portfolio-item:hover img {
   opacity: 0.45;
   transform: scale(1.1);
}
.portfolio-item:hover .portfolio-item-inner {
   top: 7%;
   bottom: 7%;
}
.portfolio-item:hover ul {
   opacity: 1;
   transition-delay: .5s;
}
@media (min-width: 530px) {
   .portfolio-item {
      flex-basis: 50%;
      flex-shrink: 0;
   }
}
@media (min-width: 768px) {
   .portfolio-item {
      flex-basis: 33.333333333%;
   }
}
.main{
	font-family: 'Montserrat', sans-serif;
	font-size: 200%;
}
.main2{
 font-family: 'Montserrat', sans-serif;
	font-size: 200%;
	text-align: center;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;

}
.row:after {
  content: "";
  display: table;
  clear: both;
}
a.PS:hover{
	background-color: #333;	
}


body {
    margin: 0;
    width: 100vw;
    height: 100vh;
		background-color: #333;
}

div.all {
    width: 100vw;
    height: 100vh;
}
li.PerS{
	float: center;
	text-align: center;
	margin-left: 50%; 
}
